<!-- <div>
    <tr>
        <td>
            <label >Recruiters :</label>        
       </td>
       <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Recruiter
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
       </td>
    </tr>
</div> -->
<div><span></span></div>
<div><app-show-market-list></app-show-market-list></div>
