<div >

<h4 style="color:rgb(253, 254, 255);background: rgb(112, 101, 134);" class="form-group col-md-12">Add Emploee details </h4>
<form style="border: 0pt solid black; ">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="First name & Last Name">
      </div>
      <div class="form-group col-md-12">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="email@codegravityit.com">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPhneNumber">Phone Number</label>
        <input type="email" class="form-control" id="inputPhneNumber" placeholder="Phone Number">
      </div>
     
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputCountry">Country</label>
        <select id="inputCountry" class="form-control">
          <option selected>Choose...</option>
          <option>India</option>
          <option>United States of America</option>
          <option>Canada</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <label for="inputRole">Role</label>
        <select id="inputRole" class="form-control">
          <option selected>Choose...</option>          
          <option>Admin</option>
          <option>Manager</option>
          <option>Employee</option>
          <option>Consultant</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <label for="inputIncentive">Incentive Category</label>
        <select id="inputIncentive" class="form-control">
          <option selected>Choose...</option>          
          <option>INR</option>
          <option>USD</option>
          <option>Cad</option>
          
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Active
        </label>
      </div>
    </div>
   
  </form>
  <div></div>
  
  <button type="submit" class="btn btn-primary">Add Employee</button>
</div>