<app-home>   
</app-home>
<div>
  <h4 style="color:rgb(253, 254, 255);background: rgb(112, 101, 134);" class="form-group col-md-12">New Marketing
    Assignment</h4>

  <div  style="border: 0pt solid black; ">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputRole">Consultant Name</label>
        <select [(ngModel)]="selectedConsultantValue" (change)="onConsultantChange($event)" class="form-control">
          <option class="dropdown-item" disabled selected value="undefined">Select Consultant</option>
          <option *ngFor="let item of consultantlist" [value]="item.Consult_Id">{{item.Consult_Full_Name}}
          </option>
        </select>

      </div>
      <div class="form-group col-md-4">
        <label for="inputRole">Recruiter to Assign</label>
        <select [(ngModel)]="selectedRecruiterValue" (change)="onRecruiterChange($event)" class="form-control">
          <option class="dropdown-item" disabled selected value="undefined">Select Recruiter</option>
          <option *ngFor="let item of employeelist" [value]="item.Emp_Id">{{item.Emp_FullName}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputRole">Technology</label>
        <select [(ngModel)]="selectedTechValue" (change)="onTechChange($event)" class="form-control">
          <option class="dropdown-item" disabled selected value="undefined">Select Technology</option>
          <option *ngFor="let item of tempTechnologylist" [value]="item.Id">{{item.Technology_Name}}</option>
        </select>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputPhneNumber">Marketing Type</label>
        <input type="email" class="form-control" id="inputmarketingtype" placeholder="Open to all/Dedicate"
          name="market_Isopentoall" [(ngModel)]="objMarketAssignement.Is_Open_To_All">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPhneNumber">Marketing Start Date</label>
        <input type="email" class="form-control" id="inputPstartdate" placeholder="MM/DD/YYYY" 
        name="market_startdate" [(ngModel)]="objMarketAssignement.Marketing_Start_Date">

      </div>
      <div class="form-group col-md-4">
        <label for="inputPhneNumber">Marketing Target End Date</label>
        <input type="email" class="form-control" id="inputendtdate" placeholder="MM/DD/YYYY" 
        name="market_enddate" [(ngModel)]="objMarketAssignement.Marketing_End_Date">

      </div>

    </div>

     <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputvisatype">Visa Type</label>

        <select [(ngModel)]="selectedvisaidValue" (change)="onVisaTypeChange($event)"  class="form-control">
          <option class="dropdown-item" disabled selected value="undefined">Select Visa</option>
          <option *ngFor="let item of tempVisaList" [value]="item.Id" >{{item.Visa_Name}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPhneNumber">Notes</label>
        <input type="text" class="form-control" id="inputnotes" placeholder="comments" 
        name="market_Notes" [(ngModel)]="objMarketAssignement.Notes">
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="isChecked">
        <label class="form-check-label" for="gridCheck">
          Active
        </label>
      </div>
    </div> 

</div>
  <div></div>

  <button type="submit" (click)="submitData(objMarketAssignement)" class="btn btn-primary" >Save
    <!-- <a [routerLink]="['/employee']" routerLinkActive="active"  class="nav-link" class="text-light">Save</a>   -->
    </button>
  
</div>