<div>
    <h4 style="color:rgb(253, 254, 255);background: rgb(112, 101, 134);" class="form-group col-md-12">Add Submission
      details </h4>
  
    <div style="border: 0pt solid black; ">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputRecruiterName">Recruiter Name</label>
          <select [(ngModel)]="Recruiter_id" (change)="onRecruiterChange($event)" class="form-control">
            <option class="dropdown-item" disabled selected value="undefined">Select Recruiter</option>
            <option *ngFor="let item of employeelist" [value]="item.Emp_Id">{{item.Emp_FullName}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputConsultName">Consulatant Name</label>
          <select [(ngModel)]="Consult_id" (change)="onRecruiterChange($event)" class="form-control">
            <option class="dropdown-item" disabled selected value="undefined">Select Consultant</option>
            <option *ngFor="let item of tempMarketinglist" [value]="item.Consult_Id">{{item.Consult_Name}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputtechnology">Technology</label>
          <select [(ngModel)]=" Marketing_Tech" (change)="onRecruiterChange($event)" class="form-control">
            <option class="dropdown-item" disabled selected value="undefined">Select Technology</option>
            <option *ngFor="let item of technologylist" [value]="item.Id">{{item.Technology_Name}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputVendor_Name">Vendor Name</label>
          <input type="text" class="form-control" id="inputpodate" placeholder="Tech systems,Modis,etc" name="submission_podate"
            [(ngModel)]="placement.Vendor_Name">
        </div>
      </div>
  
  
      <div class="form-row">
  
       
        <div class="form-group col-md-3">
            <label for="inputVendor_POC_Name">Vendor SPOC's Name</label>
            <input type="email" class="form-control" id="inputProjstartdate" placeholder=""
              name="submission_Vendorname" [(ngModel)]="placement.Vendor_POC_Name">
    
          </div>
        <div class="form-group col-md-3">
          <label for="inputVendor_POC_Email">Vendor SPOC's Email</label>
          <input type="email" class="form-control" id="inputProjstartdate" placeholder="example@domain.com"
            name="submission_vendoremail" [(ngModel)]="placement.Vendor_POC_Email">
  
        </div>
        <div class="form-group col-md-3">
          <label for="inputVendor_POC_PhoneNumber">Vendor SPOC's PhoneNumber</label>
          <input type="email" class="form-control" id="inputprojectdur" placeholder=""
            name="submission_projduration" [(ngModel)]="placement.Vendor_POC_PhoneNumber">
        </div>
        <div class="form-group col-md-3">
          <label for="inputVendor_Address">Vendor Address</label>
          <input type="text" class="form-control" id="inputenddate" placeholder=""
            name="submission_projenddate" [(ngModel)]="placement.Vendor_Address">
        </div>
  
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEnd_Client_Name">Client Name</label>
          <input type="text" class="form-control" id="inputvendorname" placeholder="" name="submission_vendorname"
            [(ngModel)]="placement.End_Client_Name">
        </div>
        <div class="form-group col-md-3">
            <label for="inputEnd_Client_POC_Name">Client SPOC's Name</label>
            <input type="text" class="form-control" id="inputclientaddress" placeholder=""
              name="submission_clientaddress" [(ngModel)]="placement.End_Client_POC_Name">
          </div>
        <div class="form-group col-md-3">
          <label for="inputClient_POC_Email">Client SPOC's Email</label>
          <input type="email" class="form-control" id="inputvendoraddress" placeholder="example@exmple.com"
            name="submission_vendoraddress" [(ngModel)]="placement.End_Client_POC_Email">
        </div>
        <div class="form-group col-md-3">
          <label for="inputvendorPhneNumber">Client SPOC's Phone Number</label>
          <input type="text" class="form-control" id="inputvendorphone" placeholder="" name="submission_clientname"
            [(ngModel)]="placement.End_Client_POC_PhoneNumber">
        </div>
        
  
  
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputclientaddress">Client Address</label>
            <input type="text" class="form-control" id="inputvendoraddress" placeholder="" name="submission_clientname"
              [(ngModel)]="placement.End_Client_Address">
          </div>
        <div class="form-group col-md-3">
          <label for="inputRate_confirmation">Rate confirmation</label>
          <input type="text" class="form-control" id="inputclientaddress" placeholder=""
            name="submission_clientaddress" [(ngModel)]="placement.Rate_confirmation">
        </div>
        <div class="form-group col-md-3">
          <label for="inputBill_Rate">Bill Rate</label>
          <input type="text" class="form-control" id="inputclientphonenumber" placeholder="$" name="submission_clientaddress"
            [(ngModel)]="placement.Bill_Rate">
        </div>
        <div class="form-group col-md-3">
          <label for="inputAssignment_date">Assignment date</label>
          <input type="text" class="form-control" id="inputclientaddress" placeholder="" name="submission_clientaddress"
            [(ngModel)]="placement.Assignment_date">
        </div>
  
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputAssignment_status">Assignment status</label>
          <input type="text" class="form-control" id="inputprojectstatus" placeholder=""
            name="submission_projectstatus" [(ngModel)]="placement.Assignment_status">
        </div>
        <div class="form-group col-md-3">
          <label for="inputAssignment_done_by">Assignment By</label>
          <input type="text" class="form-control" id="inputbillrate" placeholder="" name="submission_billrate"
            [(ngModel)]="placement.Assignment_done_by">
        </div>
  
        <div class="form-group col-md-3">
          <label for="inputInterview_Schedudule_Date">Interview_Schedudule_Date</label>
          <input type="text" class="form-control" id="inputconspayrate" placeholder="MM/DD/YYYY"
            name="submission_conspayrate" [(ngModel)]="placement.Interview_Schedudule_Date">
        </div>
        <div class="form-group col-md-3">
          <label for="inputInterview_Status">Interview Status</label>
          <input type="text" class="form-control" id="inputnotes" placeholder="" name="Interview_Status"
            [(ngModel)]="placement.Interview_Status">
        </div>
  
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputNotes">Notes</label>
          <input type="text" class="form-control" id="inputprojectstatus" placeholder=""
            name="submission_projectstatus" [(ngModel)]="placement.Notes">
        </div>
      </div>
  
  
  
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="isChecked">
          <label class="form-check-label" for="gridCheck">
            Active
          </label>
        </div>
      </div>
  
    </div>
  
     <button type="submit" (click)="submitData(placement)" class="btn btn-primary " style="align-items: flex-end;"
      value="Save">Save 
      <!-- <button type="submit"  class="btn btn-primary " style="align-items: flex-end;"
      value="Save">
      <a [routerLink]="['/submission']" routerLinkActive="active"  class="nav-link" class="text-light">Save</a>  
  -->  </button> 
  
   
  </div>