<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
  data-backdrop="static" data-keyboard="false">
<a [routerLink]="['/addplacement']" routerLinkActive="active"  class="nav-link" class="text-light">Add Placement Details</a> 
    <!-- Add Employee -->
  </button>
  
 
  

<table class="table table-striped" >

  <thead style="border: 1pt solid black; color:rgb(253, 254, 255);background: rgb(112, 101, 134);">
     <tr>
      <th>Id</th>
      <th>Name</th> 
      <th>Recruiter</th>      
      <th>Project Start Date</th>
      <th>Project Duration</th>
      <th>Vendor Name</th>
      <th>Client Name</th>
      <th>Bill Rate</th>
     
     
     </tr>    
  </thead>
  <tbody>
  
    <tr  class="bb" style="  border: 1pt solid black;"  *ngFor="let dataitem of consultantlist">
          <td >{{dataitem.Id}}</td>
          <td>{{dataitem.Consult_Name}}</td>
          <td>{{dataitem.Placed_Sales_Recruiter}}</td>
          <td>{{dataitem.Project_Start_Date}}</td>         
          <td>{{dataitem.Project_Duration}}</td>
          <td>{{dataitem.Vendor_Name}}</td>
          <td>{{dataitem.Client_Name}}</td>
          <td>{{dataitem.Bill_Rate}}</td>
          
          
         
         
          
  
      </tr>
  </tbody>
  
  </table>
  