<app-home>   
</app-home>
<div >
    <h4 style="color:rgb(253, 254, 255);background: rgb(112, 101, 134);" class="form-group col-md-12">Add Consultant Details </h4>
    
    <div   style="border: 0pt solid black; ">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputName">First Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="First Name" name="consul_Name" 
            [(ngModel)]="addConsultant.Consult_First_Name">
          </div>
          <div class="form-group col-md-4">
            <label for="inputName">Last Name</label>
            <input type="text" class="form-control" id="inputName" placeholder=" Last Name" name="consul_Name" 
            [(ngModel)]="addConsultant.Consult_Last_Name">
          </div>
          <div class="form-group col-md-4">
            <label for="inputName">Date of Birth</label>
            <input type="text" class="form-control" id="inputName" placeholder=" DOB" name="consul_Name" 
            [(ngModel)]="addConsultant.Consult_DOB">
          </div>
          
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="email@codegravityit.com" name="consul_Email"
            [(ngModel)]="addConsultant.Consult_Email">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPhneNumber">Phone Number</label>
            <input type="email" class="form-control" id="inputPhneNumber" placeholder="Phone Number" name="consul_Phone"
            [(ngModel)]="addConsultant.Consult_Phone"> 
          </div>
          <div class="form-group col-md-4">
            <label for="inputPhneNumber">Address</label>
            <input type="text" class="form-control" id="inputPhneNumber" placeholder="Address" name="consul_Phone"
            [(ngModel)]="addConsultant.Consult_Address"> 
          </div> 
         
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputRole">Technology</label>
            <select [(ngModel)]=" selectedTechValue" (change)="onRecruiterChange($event)" class="form-control">
              <option class="dropdown-item" disabled selected value="undefined">Select Technology</option>
              <option *ngFor="let item of technologylist" [value]="item.Id">{{item.Technology_Name}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputRole">Visa Type</label>
            <select [(ngModel)]="selectedvisaValue" (change)="onVisaTypeChange($event)" class="form-control">
              <option class="dropdown-item"  disabled selected value="undefined">Select Visa Type</option>
              <option *ngFor="let item of visatypelist" [value]="item.Id">{{item.Visa_Name}}</option>
            </select>
          </div>
         
        </div>
    
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck"[(ngModel)]="isChecked">
            <label class="form-check-label" for="gridCheck">
              Active
            </label>
          </div>
        </div>
       
      </div>
      <div></div>
      
      <button type="submit" (click)="submitData(addConsultant)" class="btn btn-primary" value="Save">Save
        <!-- <a [routerLink]="['/consultant']" routerLinkActive="active"  class="nav-link" class="text-light">Save</a>   -->
        </button>
    </div>